/tst0000usr.data
/1212121.data
/tst0000usr.chat
/tst0050usr.data
/tst0040usr.data
/tst0000usr.fullchat
/tst0040usr.fullchat
/tst0050usr.fullchat
/tst0020grp.data
/tst0020grp.fullchat
/tst0040usr.chat